{% extends "email/base.html" %}

{% block subject %}Bank Account Added{% endblock %}
{% block heading %}New Bank Account{% endblock %}
{% block body %}
The {{ account.bank_name }} account ending in {{ account.account_number }} has been added to your account.

Two micro-deposits have been made to ensure that you are the owner of this account and will appear in 2-3 days. When they do appear, enter them on your dashboard at https://yellowco.in/dashboard/accounts to start using the account.

If you do not recognize this message, please disregard the above and forward this email to abuse@yellowco.in.

Thanks for using Yellowcoin!
{% endblock %}
{% block bodyhtml %}
<p>The {{ account.bank_name }} account ending in {{ account.account_number }} has been added to your account.</p>

<p>Two micro-deposits have been made to ensure that you are the owner of this account and will appear in 2-3 days. When they do appear, enter them on your dashboard at <a href="https://yellowco.in/dashboard/accounts">https://yellowco.in/dashboard/accounts</a> to start using the account.</p>

<p>Thanks for using Yellowcoin!</p>
{% endblock %}
