{% extends "email/base.html" %}

{% block subject %}Unsuccessful Authorization{% endblock %}
{% block heading %}Failed Login Attempt{% endblock %}
{% block body %}
An unsuccessful authorization to your Yellowcoin account was recorded from {{ ip }} ({{ location }}).

If you do not recognize this message, please disregard the above and forward this email to help@yellowco.in.

Thanks for using Yellowcoin!
{% endblock %}
{% block bodyhtml %}
<p>An unsuccessful authorization to your Yellowcoin account was recorded from {{ ip }} ({{ location }}).</p>

<p>Thanks for using Yellowcoin!</p>
{% endblock %}
