{% extends "email/base.html" %}

{% block subject %}Reset Password{% endblock %}
{% block heading %}Account Password Reset Request{% endblock %}
{% block body %}
A request to change your Yellowcoin account password was recorded from {{ ip }} ({{ location }}).

Please go to https://yellowco.in{% url 'users|reset-password' key %} to change your password. This link will expire in one hour.

If you do not recognize this message, please forward this email to abuse@yellowco.in.

Thanks for using Yellowcoin!
{% endblock %}
{% block bodyhtml %}
<p>A request to change your Yellowcoin account password was recorded from {{ ip }} ({{ location }}).</p>

<p>Please go to <a href="https://yellowco.in{% url 'users|reset-password' key %}">https://yellowco.in{% url 'users|reset-password' key %}</a> to change your password.</p>

<p>Thanks for using Yellowcoin!</p>
{% endblock %}
