{% extends "email/base.html" %}

{% block subject %}Yellowcoin Profile Updated{% endblock %}
{% block heading %}Your Profile was Updated{% endblock %}
{% block body %}
Your Yellowcoin profile was updated.

If you did not expect this change, please contact us at abuse@yellowco.in.

If you do not wish to receive these notifciations in the future, please disable the notification from your account dashboard at https://yellowco.in/dashboard/profile.
{% endblock %}
{% block bodyhtml %}
<p>Your Yellowcoin profile was updated.</p>

<p>If you did not expect this change, please contact us at <a href="mailto:abuse@yellowco.in">abuse@yellowco.in</a>.</p>

<p>If you do not wish to receive these notifciations in the future, please disable the notification from your account dashboard at <a href="https://yellowco.in/dashboard/profile">https://yellowco.in/dashboard/profile</a>.</p>
{% endblock %}
