{% extends "email/base.html" %}

{% block subject %}Yellowcoin Password Updated{% endblock %}
{% block heading %}Your Password was Updated{% endblock %}
{% block body %}
The password associated with your account has been updated.

If you did not expect this change, please contact us at help@yellowco.in.

If you do not wish to receive these notifciations in the future, please disable the notification from your account dashboard at https://yellowco.in/dashboard/profile.
{% endblock %}
{% block bodyhtml %}
<p>The password associated with your account has been updated.</p>

<p>If you did not expect this change, please contact us at <a href="mailto:help@yellowco.in">help@yellowco.in</a>.</p>

<p>If you do not wish to receive these notifciations in the future, please disable the notification from your account dashboard at <a href="https://yellowco.in/dashboard/profile">https://yellowco.in/dashboard/profile</a>.</p>
{% endblock %}
