{% extends "base.html" %}

{% block content %}
<div class="container" ng-controller="register">
<div class="col-sm-offset-2">
<h1>Reset Your Password</h1>
<p>Sorry to hear you lost your password! Enter your email address and we'll get you a reset link. Note, if you have two-factor authentication enabled, you'll need to enter your two-factor authentication code before you can log in again.</p>
</div>
<form class="form-horizontal" action="." role="form" method="post">
	{% csrf_token %}
	<div class="form-group{% if form.email.errors %} has-error{% endif %}">
		<label for="email" class="col-sm-2 control-label">Email Address</label>
		<div class="col-sm-4">
			<input type="email" class="form-control" id="email" name="email" placeholder="Enter your account's email address" value="{{ form.email.value | default_if_none:"" }}"/>
		</div>
		<div class="col-sm-6 form-control-static">
			{{ form.email.errors }}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-warning">Send me a link!</button> or <a href="/">Cancel</a>
		</div>
	</div>
</form>
</div>
{% endblock %}
