<h2>Transaction History <small ng-show="reloading">Reloading...</small></h2>
<accordion>
	<accordion-group ng-repeat="transaction in transactions" ng-class="{'panel-info':transaction.error_code >= 100 && transaction.error_code < 200, 'panel-warning':transaction.error_code >= 200 && transaction.error_code < 300, 'panel-danger':transaction.error_code >= 500}">
		<accordion-heading>
			<div class="row pointer">
				<div class="col-sm-2" am-time-ago="transaction.order.timestamp" tooltip-placement="left" tooltip="{[transaction.order.timestamp]}" tooltip-append-to-body="true"></div>
				<div class="col-sm-6">
					<div class="col-xs-6">{[transaction.order.bid_subtotal]} {[transaction.order.bid_currency]}<i class="pull-right fa fa-arrow-right"></i></div>
					<div class="col-xs-6">{[transaction.order.ask_subtotal]} {[transaction.order.ask_currency]}</div>
				</div>
				<div ng-if="!transaction.deleted">
					<div class="col-sm-4" ng-if="!transaction.error_code" tooltip="{[transaction.status]}" tooltip-append-to-body="true">
						<progressbar value="20" type="success" class="progress-striped" ng-if="ordinal[transaction.status] == 0"></progressbar>
						<progressbar value="30" type="success" class="progress-striped" ng-if="ordinal[transaction.status] == 1"></progressbar>
						<progressbar value="40" type="warning" class="progress-striped active" ng-if="ordinal[transaction.status] == 2"></progressbar>
						<progressbar value="60" type="success" class="progress-striped" ng-if="ordinal[transaction.status] == 3"></progressbar>
						<progressbar value="80" type="success" class="progress-striped" ng-if="ordinal[transaction.status] == 4"></progressbar>
						<progressbar value="100" type="success" ng-if="ordinal[transaction.status] == 5"></progressbar>
					</div>
					<div class="col-sm-4" ng-if="transaction.error_code" tooltip="An error has occurred with this transaction" tooltip-append-to-body="true">
						<progressbar value="ordinal[transaction.status] * 20 + 20" type="warning" class="progress-striped active" ng-if="transaction.error_code == 130"></progressbar>
						<progressbar value="ordinal[transaction.status] * 20 + 20" type="danger" class="progress-striped" ng-if="transaction.error_code != 130"></progressbar>
					</div>
				</div>
				<div ng-if="transaction.deleted" class="col-sm-4" tooltip="Cancelled" tooltip-append-to-body="true">
					<progressbar value="100" type="danger"></progressbar>
				</div>
			</div>
		</accordion-heading>
		<div class="alert" ng-if="transaction.error_code" ng-class="{'alert-info':transaction.error_code < 200, 'alert-warning':transaction.error_code >= 200 && transaction.error_code < 300, 'alert-danger':transaction.error_code >= 500}" ng-bind="transaction.error_message"></div>
		<div class="well">
			<div class="row">
				<div class="col-md-5">{[transaction.withdrawal_account.display]}</div>
				<div class="col-md-2"><i class="fa fa-arrow-right"></i> {[transaction.order.bid_subtotal]} {[transaction.order.bid_currency]}</div>
				<div class="col-md-5">Yellowcoin</div>
			</div>
		</div>
		<div class="well">
			<div class="row">
				<div class="col-md-5">Yellowcoin</div>
				<div class="col-md-2"><i class="fa fa-arrow-right"></i> {[transaction.order.ask_subtotal]} {[transaction.order.ask_currency]}</div>
				<div class="col-md-5">{[transaction.deposit_account.display]}</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8" ng-show="ordinal[transaction.status] <= 1 && !transaction.deleted">
				<span class="pointer btn btn-link" ng-click="cancelTransaction(transaction)">Request to cancel this transaction</span>
			</div>
			<div class="col-md-4 pull-right text-muted" ng-bind="transaction.id"></div>
		</div>
		</div>
	</accordion-group>
</accordion>
