{% extends "base.html" %}

{% block nav-about %}active{% endblock %}

{% block content %}
<div class="container">
<h1>About Yellowcoin</h1>
<div class="row"><div class="col-md-9">
<h3 class="text-center">Founded on speed, simplicity, and security</h3>
<p>By increasing the speed of transactions, decreasing complexity for customers, and increasing securty, we believe Yellowcoin can set a new standard for cryptocurrency brokerages and continue to revolutionize the industry as we reinvent ourselves in the changing landscape. We are in the finishing stages of development and testing, and plan to roll out beta by the middle of March.</p>
<h4>Our Team</h4>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="http://bit.ly/1iT9Vxs" />
		</div>
		<h5>Kevin Wang</h5>
		<h6>Curious George | Code Monkey</h6>
		<p>Enjoys making code fast, cows, and Bitcoins.</p>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="http://bit.ly/RIyM0B" />
		</div>
		<h5>Minke Zhang</h5>
		<h6>Chief Banana Officer | Code Monkey</h6>
		<p>Collects <abbr>LEGO</abbr>s, plays Minecraft, makes tech things go-go.</p>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<img src="http://bit.ly/1lr0iZw" />
		</div>
		<h5>Douglas Everson</h5>
		<h6>Llama Llama Duck | Designer Alpaca</h6>
		<p>Look at all the pretty colors!</p>
	</div>
</div>
</div><div class="col-md-3">
<h4>Location</h4>
<div class="well">
	<h4>Our Home</h4>
	<p>We live all over the place, and probably somewhere near you. Email us!</p>
	<a href="{% url 'contact' %}" class="btn btn-success">Contact Us</a>
</div>
<h4>Careers</h4>
<div class="well">
	<h4>We're Hiring</h4>
	<p>Do you have something to bring to our team?</p>
	<a href="mailto:jobs@yellowco.in" class="btn btn-success">Join Us</a>
</div>
</div></div>
</div>
{% endblock %}
