{% extends "base.html" %}

{% block content %}
<div class="jumbotron home">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="flipboard">
					The current price of Bitcoin is
					<div id="price"></div>
					<script type="text/javascript">
					$(document).ready(function() {
						setInterval((function() {
							$.get('/api/prices/btc/usd/', function(data) {
								$("#price").html("$" + parseFloat(data.price).toFixed(2));
							});
							return this;
						})(), 5000);
					});
					</script>
				</div>
			</div>
			<div class="col-md-6">
				<h1>Simple. Secure.</h1>
				<h2>Yellowcoin features easy to use tools and industry leading security.</h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<h3 class="text-center">Yellowcoin brings peace of mind</h3>
	<div class="row">
		<div class="col-md-3 col-md-push-9" id="register">
			<h3>Open a free Yellowcoin account</h3>
			<form id="register-form" action="{% url 'users|register' %}" role="form" method="post">
				{% csrf_token %}
				{% if lock %}
				<p>Sorry, we've reached our user cap for now. Enter your email below and we'll notify you when more space is available.</p>
				<div class="form-group">
					<label for="register-email">Your Email</label>
					<input type="text" class="form-control" id="register-email" placeholder="Enter email" name="email"/>
				</div>
				<div class="text-center" id="waitlist-submit">
					<button type="submit" class="btn btn-default">Sign Up</button>
				</div>
				<script type="text/javascript">
				$(document).ready(function() {
					$('#register-form').submit(function(e) {
						$("#register-email").tooltip('destroy');
						$.post('/internal/waitlist/', {email:$('#register-email').val()}, function() {
							$("#waitlist-submit").text('Thanks, you\'ve been added!');
						}).fail(function(data) {
							console.log(data);
							$('#register-email').tooltip({trigger:'manual', title:$.parseJSON(data.responseText)});
							$('#register-email').tooltip('show');
						});
						e.preventDefault();
					});
				});
				</script>
				{% else %}
				<div class="form-group">
					<label for="register-email">Your Email</label>
					<input type="email" class="form-control" id="register-email" placeholder="Enter email" name="email"/>
				</div>
				<script src="/static/js/password.js"></script>
				<div class="form-group">
					<label for="register-password">Enter a Password</label>
					<input type="password" class="form-control" id="register-password" placeholder="Password" name="password"/>
				</div>
				<div class="form-group">
					<label for="register-password-confirm">Confirm Password</label>
					<input type="password" class="form-control" id="register-password-confirm" placeholder="Password" name="password_confirm"/>
				</div>
 				<div class="checkbox">
					<label><input name="tos" type="checkbox"> I have read and agree to the Yellowcoin terms and conditions.</label>
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-default">Sign Up</button>
				</div>
				{% endif %}
			</form>
		</div>
		<div class="col-md-9 col-md-pull-3" id="features">
			<div class="row"><div class="col-md-6">
				<div class="col-xs-3 text-center"><i class="fa fa-shield fa-4x"></i></div>
				<div class="col-xs-9"><h4>Secured Data</h4>
				<p>Your data is protected with industry leading security. Bank account information is stored and secured offsite in PCI-DSS compliant servers.</p>
				</div>
			</div><div class="col-md-6">
				<div class="col-xs-3 text-center"><i class="fa fa-key fa-4x"></i></div>
				<div class="col-xs-9"><h4>Simple Fees</h4>
				<p>Flat $10 fee for all transactions up to $10,000.</p>
				</div>
			</div></div>
            <div class="row"><div class="col-md-6">
                <div class="col-xs-3 text-center"><i class="fa fa-comment-o fa-4x"></i></div>
                <div class="col-xs-9"><h4>Customer Service</h4>
                <p>Responsive and friendly customer service whenever you need it.</p>
                </div>
            </div><div class="col-md-6">
                <div class="col-xs-3 text-center"><i class="fa fa-rocket fa-4x"></i></div>
                <div class="col-xs-9"><h4>Speed</h4>
                <p>We process your purchases instantly, so purchasing Bitcoins takes no more than three business days.</p>
                </div>
            </div></div>
            <div class="row"><div class="col-md-6">
                <div class="col-xs-3 text-center"><i class="fa fa-key fa-4x"></i></div>
                <div class="col-xs-9"><h4>Secured Data</h4>
                <p>Your data is protected with industry leading security</p>
                </div>
            </div><div class="col-md-6">
                <div class="col-xs-3 text-center"><i class="fa fa-lightbulb-o fa-4x"></i></div>
                <div class="col-xs-9"><h4>Learning Tools</h4>
                <p>A straightforward yet powerful interface filled with information if you're just getting started with Bitcoin.</p>
                </div>
            </div></div>

			<img style="width:33%;" class="img-responsive" src="/static/coinstack.png" alt="Yellowcoin is the best coin!"/>
		</div>
	</div>
</div>
{% endblock %}
